<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="GemBox.Email" version="13.0.0.1012" targetFramework="net461" />
  <package id="Google.Apis" version="1.35.1" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.35.1" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.35.1" targetFramework="net461" />
  <package id="Google.Apis.Gmail.v1" version="1.35.1.1328" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.8.7" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="OpenPop.NET" version="2.0.6.1120" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.7.0" targetFramework="net461" />
  <package id="SpecFlow" version="2.2.1" targetFramework="net461" />
  <package id="SpecFlow.MsTest" version="2.2.1" targetFramework="net461" />
</packages>